@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Dosis", sans-serif;
	max-width: 1920px;
	margin: 0px auto;
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background-color: #fab07a;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #fab07a;
}
/* hide scroll bar */
.storyModal::-webkit-scrollbar {
	overflow-y: auto;
	display: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* homeGrid */
.homeGrid {
	height: 250px;
	display: block;
	margin: 0 auto;
	width: auto;
}

@media (min-width: 768px) {
	.homeGrid {
		height: 280px;
	}
}

@media (min-width: 1280px) {
	.homeGrid {
		height: 300px;
	}
}
